html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
html, 
body{
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1190px;
}
.container-fluid{
    margin: 0 auto;
    padding: 0 30px;
    max-width: 100%;
}