@media (max-width: 1590px){
    .slick-arrow.slick-comments-prev, .slick-arrow.slick-comments-next{
        bottom: 1%;
    }
}
@media (max-width: 1130px){
    .comments-list__item img{
        margin-left: 450px;
    }
    .card, .card-background{
        width: 270px;
        height: 270px;
        img{
            left: 95px;
            top: 56px;
        }
    }
    .card-text{
        left: 10px;
        top: 192px;
    }
}
@media (max-width: 988px){
    .comments{
        padding-bottom: 680px;
    }
    .comments-list__item img{
        margin-left: 400px;
    }
    .clients{
        padding-bottom: 30px;
    }
    .clients__inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            max-width: 500px;
        }
    }
    .tutorial-list{
        flex-wrap: wrap;
        li+li{
            margin-left: 25px;
        }
    }
}
@media (max-width: 900px){
    .slick-arrow.slick-prev, .slick-arrow.slick-next{
        top: 87%;
    }
    .catalog-list__item{
        padding-top: 100px;
    }
    .comments-list__item img{
        margin-left: 350px;
    }
    .comments-name::after{
        width: 470px;
    }
    .footer-nav__list{
        display: block;
        margin-top: -10px;
        margin-left: 40px;
        li{
            margin-left: 0 !important; 
            margin-bottom: 10px;
        }
    }
    .tutorial-list{
        li{
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 800px){
    
    .item-price{
        max-width: 300px;
        font-size: 20px;
        span{
            font-size: 30px;
        }
    }
    .item-price__link{
        max-width: 300px;
        font-size: 24px;
    }
    .catalog-list__item{
        padding-top: 150px;
    }
    .comments{
        padding-bottom: 750px;
    }
    .comments-name::after{
        width: 370px;
    }
    .comments-list__item img{
        margin-left: 40%;
    }
    .comments>.container>h2{
        margin-bottom: 25px;
    }
    
    .header-content>img{
        display: none;
    }
    .blur{
        display: none;
    }
    .header-content{
        margin-right: 0;
    }
    .advantages{
        margin-left: auto;
        margin-right: auto;
        &-list{
            margin-bottom: 40px;
        }
    }
    .header{
        padding-bottom: 120px;
    }
    .click{
        top: 631px;
    }
    a.logo{
        margin-left: 38px;
    }
    
    .main-nav{
        max-width: 0;
    }
    
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 4;
        margin-top: 0px;
        margin-left: 0;
      }
      /* добавляем "гамбургер" */
      .menu__btn{
        
        border: 1px solid $main; 
        height: 44px;
        width: 44px;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: relative;
        width: 24px;
        height: 2px;
        background-color: white;
        z-index: 2;
        text-align: center;
        margin: 0 auto;
      }
      .menu__btn > span::before {
        content: '';
        top: -7px;
      }
      .menu__btn > span::after {
        content: '';
        top: 5px;
      }
      .main-nav__list {
        transition: opacity .5s .1s, transform .5s .1s;
        display: block;
        position: absolute;
        right: -31px;
        opacity: 0;
        top: -15px;
        transform: translateX(100%);
        width: 300px;
        height: 568px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: $main;
        box-shadow: 0 0 5px 9999px rgba(#535353, 0.48);
        z-index: 5;
      }
      /* элементы меню */
      .main-nav__list>li:nth-child(2){
        transition: opacity .5s .2s, transform .5s .2s;
      }
      .main-nav__list>li:nth-child(3){
        transition: opacity .5s .3s, transform .5s .3s;
      }
      li.main-nav__list-item {
        display: block;
        position: relative;
        padding: 20px 24px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        margin-left: 0 !important;
        transform: translateX(100%);
        z-index: 5;
        &::after{
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            position: absolute;
            height: 1px;
            width: 130px;
            content: '';
            background: linear-gradient(90deg, rgba(255,255,255,0.20351890756302526) 0%, rgba(255,255,255,0.758140756302521) 20%, rgba(255,255,255,0.7609418767507002) 50%, rgba(255,255,255,0.8057598039215687) 80%, rgba(255,255,255,0.20351890756302526) 100%);
        }
      }
      li.main-nav__list-item a{
        color: #fff;
        border-bottom: none !important;
        font-weight: 600;
        transition: color .5s ease, padding .5s ease;
      }
      
      #menu__toggle.active ~ .menu__btn > span {
        transform: rotate(45deg);
        background-color: #fff;
      }
      #menu__toggle.active ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
        background-color: #fff;
      }
      #menu__toggle.active ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background-color: #fff;
      }
      .main-nav__list.active {
        opacity: 1;
        transform: translateX(-15px);
        z-index: 3;
      }
      .main-nav__list.active>li.main-nav__list-item {
        opacity: 1;
        transform: translateX(-15px);
        z-index: 3;
      }
      li.main-nav__list-item > a:hover,
      li.main-nav__list-item > a:focus {
      padding-left: 40px;
}
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .tutorial{
        padding-top: 40px;
        padding-bottom: 60px;
        &-list{
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 680px){
    .catalog-list__item{
        padding-top: 200px;
    }
    .item-price{
        max-width: 300px;
        font-size: 20px;
        max-height: 120px;
        span{
            font-size: 24px;
            max-height: 40px;
            line-height: 24px;
        }
    }
    .item-price__link{
        max-width: 300px;
        font-size: 24px;
        max-height: 45px;
        line-height: 22px;
        top: 140px;
    }
    .comments-name::after{
        width: 330px;
    }
    .comments-text{
        font-size: 20px;
    }
    .card, .card-background{
        width: 230px;
        height: 230px;
        img{
            left: 72px;
            top: 48px;
        }
    }
    .card-text{
        left: -5px;
        top: 169px;
        font-size: 18px;
    }
    li.main-nav__list-item a{
        font-size: 18px;
    }
}

@media (max-width: 530px){
    h1{
        font-size: 36px;
        line-height: 36px;
    }
    .advantages{
        margin-top: 100px;
    }
    li.advantages-list__item{
        font-size: 14px;  
        line-height: 18px;
    }
    .header{
        padding-bottom: 90px;
    }
    a.click{
        top: 526px;
    }
    .header__order-link, .tutorial__order-link{
        margin: 0 auto;
        display: block;
        max-width: 260px;
        span{
            font-size: 16px;
            line-height: 16px;
            left: 45%;
        }
    }
    .advantages-list{
        margin-bottom: 45px;
    }
    .click{
        top: 505px;
        left: 45%;
    }
    .comments{
        padding-bottom: 800px;
    }
    .comments-list__item img{
        margin-left: 35%;
    }
    .comments-name::after{
        width: 250px;
    }
    h2{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .clients{
        padding-top: 50px;
    }
}
@media (max-width: 500px){
    .comments{
        padding-bottom: 870px;
    }
    h2{
        font-size: 30px;
        line-height: 34px;
    }
    .footer__inner{
        flex-direction: column-reverse;
    }
    .footer-nav{
        margin-bottom: 30px;
    }
    .main-nav__list{
        width: 230px;
        height: 400px;    }
    .main-header__logo{
        position: absolute;
        top: 50px;
        left: 33px;
    }
    .copy{
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            margin-right: 0;
        }
        a{
            margin-left: 0 !important;
        }
    }
}
@media (max-width: 420px){
    .comments-name::after{
        width: 200px;
    }
    .comments-list__item img{
        margin-left: 30%;
    }
    .comments-text{
        font-size: 18px;
    }
    .tutorial-list{
        margin-bottom: 30px;
    }
    h2{
        font-size: 26px;
        margin-bottom: 60px;
    }
}
@media (max-width: 380px){
    .comments-list__item img{
        margin-left: 25%;
    }
    .comments-name::after{
        width: 160px;
    }
    .comments{
        padding-bottom: 960px;
    }
    h2::after{
        width: 290px;
    }
    .social-links{
        a{
            margin-right: 10px !important;
        }
    }
}